<!DOCTYPE html>
<html>
<head>
    <title>{{ blog.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="alternate" type="application/rss+xml" title="{{blog.title}} RSS Feed" href="{{blog.url}}/feed.xml" />
    <link href="{{blog.url}}/styles/lorem.css" rel="stylesheet" type="text/css">
    <link href="{{blog.url}}/styles/pygments.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="{{blog.url}}/img/favicon.png" />
    
    <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$latex','$'], ['\\(','\\)']],
                displayMath: [['[latex]','[/latex]'], ["\\[","\\]"]]}

    });
    </script>

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{blog.ga}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>

    <style>
    /* from http://code.iamcal.com/php/emoji/ and https://github.com/iamcal/php-emoji */
    .emoji { 
    background: url("{{blog.url}}/img/iphone_emoji.png") top left no-repeat;
    width: 20px; 
    height: 20px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline; 
    }

    .emoji26a1 { background-position: 0px -80px; }
    </style>
</head>
<body>
    <div class="header">
        <h1 class="blog-title"><a href="{{blog.url}}">{{blog.title.upper()}}</a></h1>
        <h2 class="header-links">
            {% for header in blog.headers %}
            <a href="{{blog.header_links[header]}}">{{header.upper()}}</a> 
            {% endfor %}
        </h2>
    </div>
        <h1 class="post-title"><a href="{{ blog.url + '/' + post.rel_link }}">{{ post.title }}</a></h1>
        <div class="post-body">{{ post.render_text }}</div>
        <div class="page-footer">
        <!--     <p>shortlink: <a href="{{ post.shortlink }}">{{ post.shortlink }}</a></p>
            <p>categories: {{ ",".join(post.categories) }}</p>
         --></div>
        <div class="post-footer">
            <a href="{{ post.shortlink }}"><span class="emoji emoji26a1"></span></a>
        </div>
</body>
</html>