/*@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
*/

body {
    margin-left: auto;
    margin-right:auto;
    padding:0px;
    font:14px/1.5 Helvetica, Arial;
    color:#555;
    font-weight:300;
    width:700px;
}

.align-center
{
    display:block;
margin-left:auto;
margin-right:auto;
}

.post-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 60px;
}

/* .header a:link,  */
/* .header a:visited{ */
/*     color: #777; */
/*     text-decoration: none; */
/* } */

a:link,
a:visited{
  color: rgb(189, 31, 31);
  text-decoration: none;
}
a:hover,
a:active{
  color: #777;
  text-decoration: none;
}

.blog-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: -10px;
    border-bottom: 1px solid #ddd;
    color:#555;
}

.header {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 230px;
    margin-bottom:-40px;
}

h1{
    font-size:16px;
}

h2{
    font-size:14px;
}

.post-date {
    font-size: 10px;
    color: #999;
    text-align: center;
    font-weight: normal;
}

blockquote {
    font-style:italic;
}

.page-footer {
    text-align: left;
    font-size: 12px;
    color: #999;
    font-weight: normal;
    height:40px;
}

.page-next {
    margin-top: 20px;
    float:right;
    width: 340px;
    text-align: right;
}

.page-prev {
    margin-top: 20px;
    float:left;
    width: 340px;
    text-align: left;
}

.post-footer {
    text-align: center;
    font-size: 10px;
    color: #999;
    font-weight: normal;
}

